<!DOCTYPE html>
<html>
<head lang="en">
	<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
	<link href="../../../../../Users/OlegM/Desktop/Диплом%20frontend/Регистрация/css/main.css" rel="stylesheet" />
	<meta content="text/html" http-equiv="Content-Type" charset="UTF-8"/>
	<title>Login</title>
</head>
<body>
	<div class="limiter">
		<div class="main_container">
			<div class="login_form_background">
				<form class="login_form validate-form">
					<span class="autorization_title">Регистрация</span>
					<div class="wrap-input validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input" type="text" name="Login">
						<span class="focus-input" data-placeholder="Логин"></span>
					</div>

					<div class="wrap-input validate-input" data-validate="Enter password">
						<input class="input" type="password" name="pass">
						<span class="focus-input" data-placeholder="Пароль"></span>
					</div>

					<div class="wrap-input validate-input" data-validate="Enter password">
						<input class="input" type="password" name="pass">
						<span class="focus-input" data-placeholder="Повторите пароль"></span>
					</div>

					<div class="enter_button_group">
						<div class="enter_wrap_button">
							<div class="enter_background_button"></div>
							<button class="enter_button">
								Зарегестрироваться
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>